<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GOVERMENT ZONE</title>
    <style>
    input {
        text-align: center;
        width: 100px;
        height: 20px;
        display: block;
        margin-bottom: 20px;
    }
    </style>
</head>
<body>
    <form action="/admin" method="post">
        <input 
            style=
            "
                margin-left: 50px;
                width: 50px;
            "
            type="submit" 
            value="NOMINATE"
        >
    </form>
</body>
</html>